body {
    width:1080px;
    font-family: sans-serif;
    font-size: 12px;
    background:#ffffff;
}

h1 {
    font-size:32px;float:left;font-weight:bold;
}

h2 {font-size:24px;}

p {line-height: normal;}

a:link {color:navy;}
a:hover {color:navy;text-decoration:underline;}
a:active {color:navy;}
a:visited {color:navy;}

img.logo {width:150px;float:left;padding-left:20px;}



